---
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  lang: string;
  to: string;
  styles?: string;
}

const { lang, to, styles } = Astro.props;
---

<a
  href={getRelativeLocaleUrl(lang, to)}
  class:list={[
    "group font-title text-secondary border-secondary hover:bg-accent hover:border-accent hover:text-primary mx-auto flex w-full max-w-xs items-center justify-center gap-2 rounded-full border-3 py-4 transition-all duration-300 hover:scale-105 md:text-lg",
    styles,
  ]}
>
  <slot />
</a>
