---
import Arrow from "@assets/icons/Arrow.astro";

const socials = [
  { name: "INSTAGRAM", url: "https://www.instagram.com/" },
  { name: "TWITTER", url: "https://twitter.com/" },
  { name: "LINKEDIN", url: "https://www.linkedin.com/" },
  { name: "DRIBBBLE", url: "https://dribbble.com/" },
  { name: "YOUTUBE", url: "https://www.youtube.com/" },
  { name: "BEHANCE", url: "https://www.behance.net/" },
];
---

<section class="group bg-secondary w-full overflow-hidden py-6 xl:rounded">
  <div
    class="animate-marquee text-primary flex max-w-max gap-8 group-hover:[animation-play-state:paused]"
  >
    {
      Array.from({ length: 2 }).map(() => (
        <div class="flex items-center gap-8">
          {socials.map(({ name, url }) => (
            <>
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                class="font-title text-2xl tracking-wide uppercase hover:underline focus-visible:underline md:text-4xl"
              >
                {name}
              </a>
              <Arrow styles="size-6 transition-transform duration-300 group-hover:-rotate-45" />
            </>
          ))}
        </div>
      ))
    }
  </div>
</section>
