---
import type { CTATexts } from "@lib/types";
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  lang: string;
  texts: CTATexts;
}

const { lang, texts } = Astro.props;
---

<section
  class="bg-secondary text-primary my-8 space-y-8 py-16 text-center lg:my-12 xl:rounded"
  aria-label="Contact Call to Action"
>
  <div class="mx-auto max-w-4xl space-y-4 px-6">
    <h2 class="font-title text-4xl uppercase md:text-6xl">
      {texts.title}
    </h2>
    <p class="opacity-80 md:text-lg">
      {texts.subtitle}
    </p>
  </div>
  <a
    href={getRelativeLocaleUrl(lang, "contact")}
    class="group hover:bg-accent text-primary border-3 border-primary hover:border-accent font-title mx-auto flex w-full max-w-xs items-center justify-center gap-2 rounded-full py-4 transition-transform duration-300 hover:scale-105 md:text-lg"
    ,
  >
    {texts.button}
  </a>
</section>
