---
interface Props {
  to: string;
  label: string;
}

const { to, label } = Astro.props;
---

<a
  href={to}
  aria-label={label}
  target="_blank"
  class="hover:bg-secondary hover:text-primary border-secondary rounded-full border p-1.5 transition-colors duration-300 ease-in-out"
>
  <slot />
</a>
