---
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  lang: string;
  to: string;
  label: string;
}

const { lang, to, label } = Astro.props;
---

<a
  aria-label={label}
  href={getRelativeLocaleUrl(lang, to)}
  class="font-title hover:text-accent inline-block text-sm tracking-wide opacity-0 transition-colors duration-300 ease-in-out sm:text-lg"
>
  <slot />
</a>
